*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Spartan:wght@400;500;700&display=swap');

$Very-Dark-Grayish-Blue:hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);


body{
display: flex;
align-items: center;
justify-content: center;
align-content: center;
background-color: $Light-Grayish-Blue;
height: 100vh;

}


.contenedor{

    display: grid;
    grid-template-columns: 340px;
    grid-template-rows: 270px 1fr 35px;
    align-items: center;
    text-align: left;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 10px;
    justify-content: center;
}

.imagen-titulo{

width: 100%;
border-radius: 10px 10px 0px 0px;
object-fit: cover;
}

h1{
font-size: 19px;
font-family: 'Manrope', sans-serif;
font-weight: 700;    
padding-left: 22px;
padding-right: 14px;
padding-top: 30px;
color: $Very-Dark-Grayish-Blue;
font-weight: 700;
margin-bottom: 15px;
}

h2{
font-size: 15px;
font-family: 'Manrope', sans-serif;
font-weight: 500;
padding-left: 23px;
padding-right: 21px;
padding-top: 3px;
color:$Very-Dark-Grayish-Blue;
margin-bottom: 26px;

}

.foto{

border-radius: 100px;
width: 60px;
height: 60px;

}

.presentacion{
display: flex;
margin-right:20px;
margin-left: 22px;
align-items: center;
margin-bottom: 20px;

}

.nombre{
font-family: 'Manrope', sans-serif;
font-weight: 700;
padding-left: 15px;

}

.fecha{
font-family: 'Manrope', sans-serif;
font-weight: normal;
}

.share{
height:30px;
width: 30px;
border-radius: 100px;
margin-left: 40px;
background-color: lightgray;
color:$Very-Dark-Grayish-Blue;
cursor: pointer;
border-style: none;
transition: .3s ease-in;
}


.attribution{

align-items: flex-end;
text-align: center;
font-family: 'Manrope', sans-serif;
font-size: 10px;
justify-items:end;
padding-top:20px;
}

span:hover{

background-color: $Desaturated-Dark-Blue;
color: black;
background: transparent;
cursor: pointer;

}

.opciones{
--scale: 1;
--translateX:0;
--translateY:-106%;
background: $Very-Dark-Grayish-Blue;
position: absolute;
bottom: calc(100%+28px);
left: 50%;
transform: translate(var(--translateX),var(--translateY)) scale(var(--scale));
display: flex;
align-items: center;
gap:12px;
padding: 17px 40px;
border-radius: 10px;
box-shadow: 0 5px 20px -5px #0003;
transform-origin: bottom;
visibility: hidden;
transition: all 0.25s ease;
}

.opciones.active{
    $scale: 1;  
    visibility: visible;
   
}

.opciones::after{
content: '';
background: $Very-Dark-Grayish-Blue;
width: 20px;
height:20px;
position: absolute;
top:100%;
left:50%;
transform: translate(-50%,-60%) rotate(45deg);
}

span{
font-size: 11px;
text-transform: uppercase;
letter-spacing: 5px;
color:$Grayish-Blue;
margin-right: 5px;
}

i{
    color: white;
    font-size: 18px;
}

.nombre:hover{
color: $Very-Dark-Grayish-Blue;

}

i:hover{
color: black;

}


@media screen and (min-width: 1200px){


body{
    min-height: 100vh;
}

.contenedor{
grid-template-rows:1fr ;
grid-template-columns: 320px 400px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
}
.imagen-titulo{

    width: 100%;
    border-radius: 10px 10px 0px 0px;
    }

.attribution{
    display: none;
}

.imagen-titulo{
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    height: 100%;
    }

}

h1{
    font-size: 19px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;    
    padding-left: 23px;
    padding-right: 21px;
    padding-top: 30px;
    color: $Very-Dark-Grayish-Blue;
    font-weight: 700;
    margin-bottom: 15px;
    }

    
h2{
    font-size: 13px;
    padding-left: 23px;
    padding-right: 21px;
      }

      .share{
margin-left: 94px;

      }